<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <b><%= title %></b></p>
    <a href="/new">Create a new message</a>
    <ul>
      <% messages.forEach(function(msg) { %>
        <li>
          <h3><%= msg.user %></h5>
          <p><%= msg.text %></p>
          <p><%= msg.added %></p>
        </li>
      <% }); %>
    </ul>
  </body>
</html>
